process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    withName: 'PLINK_VCF' {
        ext.args = [
            "--allow-extra-chr",
            params.const_fid ? "--const-fid ${params.const_fid}" : "",
            ].join(' ').trim()
    }

    withName: 'ADMIXTURE' {
        publishDir = [
            path: { "${params.outdir}/admixture/${meta.id}-${meta.k}" },
            mode: params.publish_dir_mode
        ]
        ext.args = '--cv'
    }
    withName: 'PLOT_ADMIXTURE' {
        publishDir = [
            path: { "${params.outdir}/plot_admixture/${meta.id}" },
            mode: params.publish_dir_mode
        ]
        ext.args = '-b 2'
    }
}

