process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    withName: 'PLINK_VCF' {
        ext.args = "--allow-extra-chr"
    }

    withName: 'ADMIXTURE' {
        publishDir = [
            path: { "${params.outdir}/admixture/${meta.id}-${meta.k}" },
            mode: params.publish_dir_mode
        ]
        ext.args = '--cv'
    }
}

